QCheckBox {
    spacing: 5px;
    color: white;
}

QCheckBox::indicator{
    width: 50px;
    height: 50px;
}

QCheckBox::indicator:enabled:unchecked{
    image: url(:/resource/icons/unchecked.png);
}

QCheckBox::indicator:enabled:checked{
    image: url(:/resource/icons/checked.png);
}

QCheckBox::indicator:enabled:indeterminate{
    image: url(:/resource/icons/indeterminate.png);
}
